@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src:
    url("assets/Impact.woff2") format("woff2"),
    url("assets/Impact.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("RobotoCondensed-Regular.woff2") format("woff2"),
    url("RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  @font-face {
    font-family: "Impact";
    src:
      url("assets/Impact.woff2") format("woff2"),
      url("assets/Impact.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Condensed";
    src:
      url("RobotoCondensed-Regular.woff2") format("woff2"),
      url("RobotoCondensed-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #000000 0%, #000000 100%);
  overflow-x: hidden;
}

/* Old 100 stars */
/* #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1009px 1785px #fff,
    548px 1346px #fff,
    1443px 68px #fff,
    1608px 715px #fff,
    1839px 401px #fff,
    1642px 1568px #fff,
    1642px 315px #fff,
    1797px 1457px #fff,
    14px 1369px #fff,
    241px 1720px #fff,
    863px 705px #fff,
    310px 608px #fff,
    353px 1611px #fff,
    1245px 1795px #fff,
    1190px 865px #fff,
    594px 1772px #fff,
    535px 483px #fff,
    810px 1973px #fff,
    293px 895px #fff,
    1627px 394px #fff,
    636px 1623px #fff,
    1905px 50px #fff,
    310px 1594px #fff,
    406px 5px #fff,
    1940px 1683px #fff,
    1027px 1229px #fff,
    233px 10px #fff,
    1111px 1978px #fff,
    31px 1368px #fff,
    544px 1740px #fff,
    769px 1947px #fff,
    74px 1679px #fff,
    1003px 915px #fff,
    1042px 844px #fff,
    527px 1409px #fff,
    350px 43px #fff,
    385px 163px #fff,
    843px 1525px #fff,
    1574px 7px #fff,
    1053px 1483px #fff,
    1800px 229px #fff,
    1502px 1430px #fff,
    1109px 1517px #fff,
    108px 1721px #fff,
    1640px 1272px #fff,
    1997px 1846px #fff,
    1712px 736px #fff,
    303px 228px #fff,
    1898px 1610px #fff,
    1934px 1912px #fff,
    1619px 1111px #fff,
    1193px 993px #fff,
    1400px 1351px #fff,
    760px 1282px #fff,
    896px 1741px #fff,
    526px 1916px #fff,
    218px 1228px #fff,
    1884px 1020px #fff,
    623px 1627px #fff,
    688px 863px #fff,
    1532px 1411px #fff,
    1378px 1304px #fff,
    1022px 1798px #fff,
    446px 1344px #fff,
    1633px 135px #fff,
    1048px 1083px #fff,
    1912px 1963px #fff,
    98px 1654px #fff,
    1808px 1424px #fff,
    1457px 102px #fff,
    1977px 691px #fff,
    108px 1239px #fff,
    646px 932px #fff,
    1498px 66px #fff,
    926px 669px #fff,
    211px 959px #fff,
    34px 1440px #fff,
    1341px 729px #fff,
    43px 1757px #fff,
    124px 1323px #fff,
    1380px 1696px #fff,
    1451px 1782px #fff,
    1903px 1293px #fff,
    857px 281px #fff,
    857px 1536px #fff,
    44px 300px #fff,
    1039px 499px #fff,
    1898px 178px #fff,
    1338px 703px #fff,
    1029px 1475px #fff,
    1915px 117px #fff,
    1834px 1539px #fff,
    331px 1368px #fff,
    1942px 1548px #fff,
    1401px 1803px #fff,
    1886px 1760px #fff,
    1970px 510px #fff,
    1152px 371px #fff,
    592px 555px #fff,
    1251px 956px #fff;
  animation: animStar 20s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1009px 1785px #fff,
    548px 1346px #fff,
    1443px 68px #fff,
    1608px 715px #fff,
    1839px 401px #fff,
    1642px 1568px #fff,
    1642px 315px #fff,
    1797px 1457px #fff,
    14px 1369px #fff,
    241px 1720px #fff,
    863px 705px #fff,
    310px 608px #fff,
    353px 1611px #fff,
    1245px 1795px #fff,
    1190px 865px #fff,
    594px 1772px #fff,
    535px 483px #fff,
    810px 1973px #fff,
    293px 895px #fff,
    1627px 394px #fff,
    636px 1623px #fff,
    1905px 50px #fff,
    310px 1594px #fff,
    406px 5px #fff,
    1940px 1683px #fff,
    1027px 1229px #fff,
    233px 10px #fff,
    1111px 1978px #fff,
    31px 1368px #fff,
    544px 1740px #fff,
    769px 1947px #fff,
    74px 1679px #fff,
    1003px 915px #fff,
    1042px 844px #fff,
    527px 1409px #fff,
    350px 43px #fff,
    385px 163px #fff,
    843px 1525px #fff,
    1574px 7px #fff,
    1053px 1483px #fff,
    1800px 229px #fff,
    1502px 1430px #fff,
    1109px 1517px #fff,
    108px 1721px #fff,
    1640px 1272px #fff,
    1997px 1846px #fff,
    1712px 736px #fff,
    303px 228px #fff,
    1898px 1610px #fff,
    1934px 1912px #fff,
    1619px 1111px #fff,
    1193px 993px #fff,
    1400px 1351px #fff,
    760px 1282px #fff,
    896px 1741px #fff,
    526px 1916px #fff,
    218px 1228px #fff,
    1884px 1020px #fff,
    623px 1627px #fff,
    688px 863px #fff,
    1532px 1411px #fff,
    1378px 1304px #fff,
    1022px 1798px #fff,
    446px 1344px #fff,
    1633px 135px #fff,
    1048px 1083px #fff,
    1912px 1963px #fff,
    98px 1654px #fff,
    1808px 1424px #fff,
    1457px 102px #fff,
    1977px 691px #fff,
    108px 1239px #fff,
    646px 932px #fff,
    1498px 66px #fff,
    926px 669px #fff,
    211px 959px #fff,
    34px 1440px #fff,
    1341px 729px #fff,
    43px 1757px #fff,
    124px 1323px #fff,
    1380px 1696px #fff,
    1451px 1782px #fff,
    1903px 1293px #fff,
    857px 281px #fff,
    857px 1536px #fff,
    44px 300px #fff,
    1039px 499px #fff,
    1898px 178px #fff,
    1338px 703px #fff,
    1029px 1475px #fff,
    1915px 117px #fff,
    1834px 1539px #fff,
    331px 1368px #fff,
    1942px 1548px #fff,
    1401px 1803px #fff,
    1886px 1760px #fff,
    1970px 510px #fff,
    1152px 371px #fff,
    592px 555px #fff,
    1251px 956px #fff;
} */

/* New 35 starts */
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1594px 968px #fff,
    87px 361px #fff,
    605px 1173px #fff,
    665px 643px #fff,
    527px 808px #fff,
    1411px 739px #fff,
    87px 305px #fff,
    243px 818px #fff,
    455px 1773px #fff,
    539px 446px #fff,
    1549px 184px #fff,
    1094px 654px #fff,
    1047px 1638px #fff,
    1445px 1355px #fff,
    867px 1649px #fff,
    1466px 1963px #fff,
    857px 400px #fff,
    1673px 475px #fff,
    129px 1385px #fff,
    174px 1166px #fff,
    596px 1396px #fff,
    1788px 153px #fff,
    1471px 572px #fff,
    347px 158px #fff,
    784px 1696px #fff,
    1985px 1661px #fff,
    1353px 1201px #fff,
    966px 1831px #fff,
    69px 1551px #fff,
    1345px 1999px #fff,
    1495px 204px #fff,
    158px 1904px #fff,
    1330px 1914px #fff,
    991px 222px #fff,
    332px 909px #fff;
  animation: animStar 30s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1594px 968px #fff,
    87px 361px #fff,
    605px 1173px #fff,
    665px 643px #fff,
    527px 808px #fff,
    1411px 739px #fff,
    87px 305px #fff,
    243px 818px #fff,
    455px 1773px #fff,
    539px 446px #fff,
    1549px 184px #fff,
    1094px 654px #fff,
    1047px 1638px #fff,
    1445px 1355px #fff,
    867px 1649px #fff,
    1466px 1963px #fff,
    857px 400px #fff,
    1673px 475px #fff,
    129px 1385px #fff,
    174px 1166px #fff,
    596px 1396px #fff,
    1788px 153px #fff,
    1471px 572px #fff,
    347px 158px #fff,
    784px 1696px #fff,
    1985px 1661px #fff,
    1353px 1201px #fff,
    966px 1831px #fff,
    69px 1551px #fff,
    1345px 1999px #fff,
    1495px 204px #fff,
    158px 1904px #fff,
    1330px 1914px #fff,
    991px 222px #fff,
    332px 909px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

body {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* header bars */

.headerbarsContainer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.4);
  overflow: hidden;
}

.headerbarsContainer span::before,
.headerbarsContainer span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.headerbarsContainer span::after {
  transform: translateX(-100%);
}

.headerbarsContainer span:first-child::after {
  animation: headbarAnimation-1 3s ease-in-out 0.15s infinite;
}
.headerbarsContainer span:first-child::before {
  animation: headbarAnimation-2 3s ease-in-out 0.15s infinite;
}
.headerbarsContainer span:nth-child(2):after {
  animation: headbarAnimation-1 3s ease-in-out 0.3s infinite;
}
.headerbarsContainer span:nth-child(2):before {
  animation: headbarAnimation-2 3s ease-in-out 0.3s infinite;
}
.headerbarsContainer span:nth-child(3):after {
  animation: headbarAnimation-1 3s ease-in-out 0.45s infinite;
}
.headerbarsContainer span:nth-child(3):before {
  animation: headbarAnimation-2 3s ease-in-out 0.45s infinite;
}

@keyframes headbarAnimation-1 {
  0% {
    transform: translateX(0);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes headbarAnimation-2 {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(-100%);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.menuItems li::before {
  content: "";
  top: 50%;
  height: 3px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #ff2c60;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.menuItems li:hover::before {
  transform: scaleX(1);
}

@media (max-width: 650px) {
  #main_pic {
    width: 436%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  #main_pic {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: none;
    width: 130%;
  }
}
