@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src:
    url("assets/Impact.woff2") format("woff2"),
    url("assets/Impact.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("assets/RobotoCondensed.woff2") format("woff2"),
    url("assets/RobotoCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  @font-face {
    font-family: "Impact";
    src:
      url("assets/Impact.woff2") format("woff2"),
      url("assets/Impact.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}
@layer base {
  @font-face {
    font-family: "Roboto Condensed";
    src:
      url("assets/RobotoCondensed.woff2") format("woff2"),
      url("assets/RobotoCondensed.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #000000 0%, #000000 100%);
  overflow-x: hidden;
}

/* New 35 starts */
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1594px 968px #fff,
    87px 361px #fff,
    605px 1173px #fff,
    665px 643px #fff,
    527px 808px #fff,
    1411px 739px #fff,
    87px 305px #fff,
    243px 818px #fff,
    455px 1773px #fff,
    539px 446px #fff,
    1549px 184px #fff,
    1094px 654px #fff,
    1047px 1638px #fff,
    1445px 1355px #fff,
    867px 1649px #fff,
    1466px 1963px #fff,
    857px 400px #fff,
    1673px 475px #fff,
    129px 1385px #fff,
    174px 1166px #fff,
    596px 1396px #fff,
    1788px 153px #fff,
    1471px 572px #fff,
    347px 158px #fff,
    784px 1696px #fff,
    1985px 1661px #fff,
    1353px 1201px #fff,
    966px 1831px #fff,
    69px 1551px #fff,
    1345px 1999px #fff,
    1495px 204px #fff,
    158px 1904px #fff,
    1330px 1914px #fff,
    991px 222px #fff,
    332px 909px #fff;
  animation: animStar 30s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1594px 968px #fff,
    87px 361px #fff,
    605px 1173px #fff,
    665px 643px #fff,
    527px 808px #fff,
    1411px 739px #fff,
    87px 305px #fff,
    243px 818px #fff,
    455px 1773px #fff,
    539px 446px #fff,
    1549px 184px #fff,
    1094px 654px #fff,
    1047px 1638px #fff,
    1445px 1355px #fff,
    867px 1649px #fff,
    1466px 1963px #fff,
    857px 400px #fff,
    1673px 475px #fff,
    129px 1385px #fff,
    174px 1166px #fff,
    596px 1396px #fff,
    1788px 153px #fff,
    1471px 572px #fff,
    347px 158px #fff,
    784px 1696px #fff,
    1985px 1661px #fff,
    1353px 1201px #fff,
    966px 1831px #fff,
    69px 1551px #fff,
    1345px 1999px #fff,
    1495px 204px #fff,
    158px 1904px #fff,
    1330px 1914px #fff,
    991px 222px #fff,
    332px 909px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

body {
  animation: fadeIn 1s ease-in-out;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* header bars */

.headerbarsContainer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.4);
  overflow: hidden;
}

.headerbarsContainer span::before,
.headerbarsContainer span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.headerbarsContainer span::after {
  transform: translateX(-100%);
}

.headerbarsContainer span:first-child::after {
  animation: headbarAnimation-1 3s ease-in-out 0.15s infinite;
}
.headerbarsContainer span:first-child::before {
  animation: headbarAnimation-2 3s ease-in-out 0.15s infinite;
}
.headerbarsContainer span:nth-child(2):after {
  animation: headbarAnimation-1 3s ease-in-out 0.3s infinite;
}
.headerbarsContainer span:nth-child(2):before {
  animation: headbarAnimation-2 3s ease-in-out 0.3s infinite;
}
.headerbarsContainer span:nth-child(3):after {
  animation: headbarAnimation-1 3s ease-in-out 0.45s infinite;
}
.headerbarsContainer span:nth-child(3):before {
  animation: headbarAnimation-2 3s ease-in-out 0.45s infinite;
}

@keyframes headbarAnimation-1 {
  0% {
    transform: translateX(0);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes headbarAnimation-2 {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(-100%);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  35% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.menuItems li::before {
  content: "";
  top: 50%;
  height: 3px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #ff2c60;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.menuItems li:hover::before {
  transform: scaleX(1);
}

@media (max-width: 640px) {
  #main_pic {
    width: 436%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  #main_pic {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: none;
    width: 130%;
  }
  #Scroll_down_div-1 {
    position: absolute;
    left: 5vw;
    bottom: 3vh;
    font-size: 3vw;
  }
  #Scroll_down_div-2 {
    line-height: 1;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-right: 6px;
  }
  #Scroll_down_div-3 {
    height: 20vw;
    width: 1px;
    margin-left: 6px;
  }
}

#profiletag::before {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 106%;
  height: 120%;
  filter: blur(8px);
  background-color: hsla(0, 0%, 100%, 0.04);
  opacity: 0;
}

#profiletag:hover::before {
  border-color: #ff2c60;
  background-color: rgba(255, 44, 96, 0.1);
  opacity: 1;
}

#scrollLine::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateY(-100%);
}

#scrollLine::before {
  animation: line-data-v-29a08202 3s 0.5s infinite;
}

#scrollLine {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  height: 100%;
  width: 1px;
  overflow: hidden;
}

@keyframes line-data-v-29a08202 {
  0% {
    transform: translateY(-100%);
    -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  30% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  90% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.lines {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
}

.lines .hori {
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 1px;
  left: 0;
}

.lines .hori::before {
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  filter: blur(3px);
  height: 10px;
  /* opacity: 0; */
}

.lines .hori-1 {
  width: calc(100% - 14px);
  top: 0;
}

.lines .hori-2 {
  width: calc(100% - 23px);
  top: 25%;
}

.lines .hori-3 {
  top: 50%;
}

.lines .hori-4 {
  width: calc(100% - 28px);
  top: 75%;
}

.lines .hori-5 {
  top: 100%;
  width: calc(100% - 20px);
}

/* #top_pic_profile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101%;
  height: 101%;
  background-color: #2d2052;
  filter: blur(10px);
  opacity: 1;
  z-index: -1;
  transform: translate(-50%, -50%);
} */

#top_pic_profile > img {
  box-shadow: 0 0 20px #2d2052;
}
